<div class="row">
    <div class="col-sm">
        <div class="card">   
        <div class="card-header">
            <h1><%= @curr_user.username %>'s Workspaces and Collaborations</h1>
        </div>
            <div class="card-body"> 
                <%= link_to "Create A New Workspace", new_workspace_path, method: "get", :class => "btn btn-outline-primary" %>
                <%= link_to 'Share A Workspace', new_collaboration_path, 'data-method' => 'get', :class => "btn btn-outline-primary" %><br>

    <%= form_tag workspaces_path, method: :get do %>
      Tags:
      <% @all_tags.each do |tag| %>
        <div class="form-check  form-check-inline">
          <%= label_tag "tags[#{tag}]", tag, class: 'form-check-label' %>
          <%= check_box_tag "tags[#{tag}]", "1",  @tags_to_show.include?(tag), class: 'form-check-input' %>
        </div>
      <% end %>
      <%= submit_tag 'Refresh', class: 'btn btn-primary' %>
    <% end %>

    <div class="row workspace-container">
      <% @workspaces.each do |workspace| %>
          <div class="workspace">
            <h6>
                [<%= workspace.tags %>]
                </br>
                <%= link_to "#{workspace.workspace_name}", workspace_path(workspace.id) %>
            </h6> 
          </div>
      <% end %>

            </div>
        </div>

    </div>
</div>

<div class="row">
        <div class="card">
            
            <div class="card-header">
                <h3> Workspaces Shared With Me </h3>
            </div>

            <div class="card-body">

                <% current_user.workspaces.update_and_view_or_owner.each do |p| %>
                    <ul>
                    <%= render "workspace_link", {p: p} %> 
                    </ul>
                <% end %>
            </div>
        </div>

</div>  