<body>  
  <div class="container">
    <h2 class="display-4"> <%= @curr_user.first_name %>'s workspaces </h2>

    <div class="add-workspace"> <h4> <%= link_to 'Add new workspace +', new_workspace_path%> </h4> </div>

    <%= form_tag workspaces_path, method: :get do %>
      Tags:
      <% @all_tags.each do |tag| %>
        <div class="form-check  form-check-inline">
          <%= label_tag "tags[#{tag}]", tag, class: 'form-check-label' %>
          <%= check_box_tag "tags[#{tag}]", "1",  @tags_to_show.include?(tag), class: 'form-check-input' %>
        </div>
      <% end %>
      <%= submit_tag 'Refresh', class: 'btn btn-primary' %>
    <% end %>

    <div class="row workspace-container">
      <% @workspaces.each do |workspace| %>
          <div> Tag: <%= workspace.tags %> </div>
          <div class="workspace"> <%= link_to "#{workspace.workspace_name}", workspace_path(workspace.id) %> </div>
      <% end %>
    </div>
  </div>
</body>