<!--  app/views/workspaces/show.html.erb -->


<div class="workspace-title-container">
  <h2><%= @workspace.workspace_name %> Workspace</h2>
  <button id="click-to-open" value=<%= @workspace.id %> > Open All </button> 
  <button id="add-link-to-workspace" value=<%= @workspace.id %>> Add Link </button>
</div> 

<%= form_tag workspace_path, :method => :patch , :class => 'form' do %>
  <textarea name="workspace-overview" id="notes-section" placeholder="Write notes here. . ."><%= @workspace.notes %></textarea>

  <table >
    <thead>
      <tr>
        <th>Name</th>
        <th>Link</th> 
        <th>Date</th> 
        <th>Notes</th> 
      </tr>
    </thead>

    <tbody id="link-list">
      <% @links.each do |l| %>
        <tr>

          <!-- Name input --> 
          <td>
            <input class="workspace-input" name="name-<%= l.id %>" value="<%= l.nickname %>" >
          </td>

          <!--Link Input -->
          <td>
            <input class="workspace-input" name="link-<%= l.id %>" value="<%= l.link %>" >
          </td>

          <!--Date Created -->
          <td>
            <input class="workspace-input" name="date-<%= l.id %>" value="<%= l.created_at %>" >
          </td>

          <!--Notes For Link -->
          <td>
            <input class="workspace-input" name="notes-<%= l.id %>" value="<%= l.notes %>" >
          </td>

          <td>
            <%= link_to 'Delete Link', delete_link_from_workspace_path(l.id), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?' %>
          </td>  

        </tr>

      <% end %>
    </tbody>
  </table>

  <div class="workspace-form-action-container">
    <%= submit_tag 'Save changes' %>  
    <%= link_to 'Back to workspace dashboard', workspaces_path, :class => 'btn btn-primary col-2' %>
    <%= link_to 'Delete', workspace_path(@workspace), 'data-method' => 'delete', 'data-confirm' => 'Are you sure?', :class => 'btn btn-danger col-2' %>
    <%= link_to 'Cancel', workspace_path, :class => 'btn btn-primary col-2' %>
  </div>
<% end %>

<%= javascript_pack_tag 'edit_workspace' %>
<%= javascript_pack_tag 'open_all' %>



