
<body>

<div class="content-wrapper">
  <div class="profile-container"> 

    <%= image_tag "avatar.png", class: 'profile-picture' %>
    <br>
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <h3><%= @user.username %></h3>
    <h3><%= @user.email %></h3>
    
  </div> 

  <div class="workspace-links-container">
    <div class="workspace-border"> 
      <h1 style="color:white;"> Workspaces </h1> 
    </div>
    
    <% @workspaces.each do |workspace| %>
      <div class="link-container"> 
        <h3> <%= link_to "#{workspace.workspace_name}", workspace_path(workspace.id), class: 'workspace-links' %> </h3>
      </div>
    <% end %>
  </div> 

</div>

</body>
