  
<div class="row">
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">

            <%= bootstrap_form_for(@collaboration) do |f| %>
                <%= f.hidden_field :id %>
                <%= f.collection_select :user_id, User.all_except(current_user), :id, :username, :prompt => true %><br>
              
                <%= f.select  :role, [["Project Owner", "Project Owner"], ["Update and View", "Update and View"], ["View Only", "View Only"]], :prompt => true %><br>
                  
                <%= f.collection_select :workspace_id, current_user.workspaces.primary_owner, :id, :workspace_name %><br>
              
                <%= f.submit nil, class: 'btn btn-secondary' %>
            <% end %>
        </div>
    </div>
</div>
</div>
